services:
  database:
    extends:
      file: docker-compose.yml
      service: database

  redis:
    extends:
      file: docker-compose.yml
      service: redis

volumes:
  postgres_data:
  redis_data:
