services:
  database:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: game_server_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d game_server_dev"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      MIX_ENV: dev
      POSTGRES_HOST: database
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: game_server_dev
      SECRET_KEY_BASE: your_secret_key_here  # Replace with a secure key
      PHX_SERVER: true
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/_build
      - /app/deps
    command: mix phx.server

  redis:
    image: redis:7.4-alpine
    restart: always
    shm_size: 128mb
    volumes:
      - "./redis:/data"
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 5s

volumes:
  postgres_data:
  redis_data:
