services:
  app:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      SECRET_KEY_BASE: your_secret
      MIX_ENV: dev
      PHX_SERVER: true
    command: >
      sh -c "mix deps.get && MIX_ENV=dev mix do --app game_server_host ecto.migrate && MIX_ENV=dev mix do --app game_server_host phx.server"
    volumes:
      - .:/app
      - /app/_build
      - /app/deps
      - sqlite_data:/app/db

volumes:
  sqlite_data:
