services:
  database:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: game_server_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/game_server_dev
      SECRET_KEY_BASE: your_secret_key_here  # Replace with a secure key
      MIX_ENV: dev
    depends_on:
      - database
    volumes:
      - .:/app
      - /app/_build
      - /app/deps
    command: mix phx.server

  redis:
    image: redis:7.4-alpine
    restart: always
    shm_size: 128mb
    volumes:
      - "./redis:/data"
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 5s

volumes:
  postgres_data:
  redis_data:
