services:
  app:
    build: .
    ports:
      - "4000:4000"
    #env_file:
    #  - .env
    environment:
      # Run mix phx.gen.secret
      SECRET_KEY_BASE: 1DdaMAX56nUh1tvXniEEuQNsGNvgADndawxrJ3YFZlLXc9EOahC/NFDgowCDUFwb
      # Path to server module plugins
      GAME_SERVER_PLUGINS_DIR: modules/plugins_examples
      # Enable device authentication
      # Easy to get started locally
      DEVICE_AUTH_ENABLED: true
      # Host base
      PHX_HOST: localhost
      # When testing in localhost, the following enables local email.
      # Without this, creating an email requires OAuth or an SMTP server.
      MIX_ENV: dev
    volumes:
      - ./modules:/app/modules
      - ./priv/static/images:/app/priv/static/images
      - ./priv/static/assets/css/theme:/app/priv/static/assets/css/theme
      - ./db:/app/db
