services:
  app:
    build: .
    ports:
      - "4000:4000"
    # Enable this to set custom env values
    #env_file:
    #  - .env
    environment:
      # Run mix phx.gen.secret
      SECRET_KEY_BASE: 1DdaMAX56nUh1tvXniEEuQNsGNvgADndawxrJ3YFZlLXc9EOahC/NFDgowCDUFwb
      # Path to server module plugins
      GAME_SERVER_PLUGINS_DIR: modules/plugins_examples
      DEVICE_AUTH_ENABLED: true
      PHX_HOST: localhost
      MAILBOX_PREVIEW_ENABLED: true
    volumes:
      - ./modules:/app/modules
      - ./priv/static/images:/app/priv/static/images
      - ./priv/static/assets/css/theme:/app/priv/static/assets/css/theme
      - ./db:/app/db
