name: Lint

on:
  pull_request:
  push:

jobs:
  lint:
    name: Elixir lint
    runs-on: ubuntu-latest

    container:
      image: elixir:1.16.3-otp-26

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          apt update
          apt install -y build-essential erlang-dev curl

      - name: Set up Elixir helpers
        run: |
          mix local.hex --force
          mix local.rebar --force

      - name: Cache deps
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-deps-${{ hashFiles('mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-deps-

      - name: Install dependencies
        run: mix deps.get

      - name: Check code formatting
        run: mix format --check-formatted
